* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(193, 190, 197);
}

.main  {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    box-shadow: 1px 1px 30px 1px black;
}

.home  ul{
    display: flex;
    position: relative;
    left: 650px;
    top: 20px;
}

.home li {
    list-style: none;
    justify-content: space-between;
}

/* .home ul a {
    font-size: 18px;
    color: black;
    padding: 15px;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;

} */
ul li a {
    font-size: 20px;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
    padding: 2px 5px;
}


/* .home li a:hover{
color: rgb(207, 24, 11);    
} */
/* add */
ul li a::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 5px solid rgb(192, 28, 165);
    position: absolute;
    left: 15px;
    bottom: 6px;
    border-width: 0 0 2px 2px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

ul li a::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 5px solid rgb(192, 28, 165);
    position: absolute;
    right: 15px;
    top: 6px;
    border-width: 2px 2px 0 0;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

 ul li a:hover::before {
    left: -4px;
    bottom: -4px;
    opacity: 1;
}

ul li a:hover::after {
    top: -4px;
    right: -4px;
    opacity: 1;

}

 /* ul li a:hover {
    background-color: blueviolet;
    color: white;
}  */

.main h1 {
    position: absolute;
    left: 28px;
    top: 8px;
}

.content {
    font-size: 30px;
    position: absolute;
    left: 28px;
    top: 150px;
    margin: 5px;
}

.hire a {
    text-decoration: none;
    border-radius: 10px;
    padding: 6px;
    border: none;
    font-size: 20px;
    background-color: blue;
    color: black;
    position: absolute;
    top: 450px;
    left: 180px;
    transition: all 0.5s ease-in-out;
}

.hire a:hover {
    color: white;
}

.contact a {
    text-decoration: none;
    border-radius: 10px;
    padding: 6px;
    border: none;
    font-size: 20px;
    background-color:blue;
    color: black;
    position: absolute;
    top: 450px;
    left: 29px;
    transition: all 0.5s ease-in-out;

}

.contact a:hover {
    color: white;
}


.change_content::after {
    content: "";
    animation: changetext 5s infinite linear;
    color: rgb(13, 53, 231);
    font-size: 35px;
    position: absolute;
    left: 29px;
    top: 330px;

}

.conta p {
    font-size: 20px;
    position: absolute;
    top: 600px;
    left: 29px;

}

#number {
    position: absolute;
    top: 570px;
}

.social a img {
    padding: 5px;
    width: 50px;
    position: relative;
    top: 535px;
    left: 670px;
    transition: all 0.5s ease-in-out;
}

.social a img:hover {
    transform: scale(0.5);
}

@keyframes changetext {
    0% {
        content: "Htnl 100%";
    }

    20% {
        content: "Css 100%";
    }

    30% {
        content: "JavaScript 70%";
    }

    45% {
        content: "Wordpress 100%";
    }

    60% {
        content: "Creativity";
    }

    80% {
        content: "ADCA";
    }

    100% {
        content: "Good Computer Knowledge";
    }
}

hr {
    width: 100%;
    border: 1px solid blue;
    position: absolute;
    top: 650px;
}

.star p {
    padding: 5px;
    position: relative;
    top: 580px;
    left: 29px;
}

.cinema p {
    padding: 5px;
    position: relative;
    top: 415px;
    left: 400px;
}

.motu p {
    padding: 5px;
    position: relative;
    top: 247px;
    left: 800px;
}

.tasvir img {
    width: 250px;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 700px;
    box-shadow: px 1px 5px 1px blue;
}

.content span {
    color: rgb(104, 5, 5);
}

.container {
    position: relative;
    top: 550px;
    width: 900px;
    left: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.container .card {
    position: relative;
    height: 200px;
    background: black;
    display: flex;
    width: 40%;
    color: white;
    margin: 30px 0;
}

.container .card .imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgbox {
    width: 120px;
    height: 120px;
    left: -75px;
    top: calc(50% -75px);
    transition: 0.5s ease-in-out;
    background: green;
}

.container .card .imgbox::before {
    content: attr(data-text);
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 2555, 255, .05);
    font-weight: 700;
}

.container .card .imgbox img {
    opacity: 0.8;
    max-width: 400px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgbox img {
    max-width: 75px;
}

.container .card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.container .card .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: white;
    position: relative;
}

.container .card .content a:hover {
    background: white;
    color: black;
    border-radius: 5px;
}

.container .card .content a {
    color: blueviolet;
    position: absolute;
    bottom: 220px;
    left: 90px;
    font-size: 20px;
}

/* a::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 5px solid rgb(192, 28, 165);
    position: absolute;
    left: 15px;
    bottom: 6px;
    border-width: 0 0 2px 2px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

a::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 5px solid rgb(192, 28, 165);
    position: absolute;
    right: 15px;
    top: 6px;
    border-width: 2px 2px 0 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

a:hover::before {
    left: -5px;
    bottom: -5px;
    opacity: 1;
}

a:hover::after {
    top: -5px;
    right: -5px;
    opacity: 1;

}

a:hover {
    color: white;
} */

.box textarea {
    width: 500px;
    height: 200px;
    font-size: 20px;
    background-color: cornsilk;
    position: relative;
    top: 250px;
    left: 70px;
}

.contactus input {
    font-size: 15px;
    list-style: none;
    background-color: black;
    color: white;
    width: 150px;
    height: 35px;
    margin: 30px;
    border-radius: 5px;
    position: relative;
    top: 300px;
    left: 40px;
}

.box ::placeholder {
    font-size: 35px;
    border-radius: 5px;
}
#subt{
    position: relative;
    top: 250px;
}
#rest{
    position: relative;
    top: 250px;
}
h5{
    font-size: 35px;
    position: relative;
    bottom: 120px;
    left: 67px;
}